table.svelte-1lxwc74{text-align:left}th.svelte-1lxwc74{font-weight:lighter}td.svelte-1lxwc74{padding:3% 70%;font-weight:lighter}
a.svelte-tzw6d9{color:#5D2828}div.svelte-tzw6d9{background-color:#F6F4F4;padding:7%}h1.svelte-tzw6d9{color:black;font-family:'Montserrat';font-weight:'bold';font-size:2em}
